

// Auth Token for Blynk App.
const char blynkAuth[] = "--------------------------------";

// WiFi credentials.
const char ssid[] = "SSID";
const char password[] = "password";

// OTA hostname
const char ModuleHostname[] = "led-lamp";

